<?php

$loader = require_once __DIR__.'/vendor/autoload.php';
$loader->register();
dayax\core\ExceptionFactory::addPackage('toolbox');
dayax\core\ExceptionFactory::register();
dayax\core\Dayax::setLoader($loader);
?>
